<app-navbar></app-navbar>
@if(formation){
  <div class="container mt-4">
    <h2 class="mb-4">{{ formation.titre }}</h2>
    <p><strong>Description:</strong> {{ formation.description }}</p>
    <p><strong>Charge Horaire:</strong> {{ formation.chargeHoraire }} heures</p>
    <p><strong>Niveau de Difficulté:</strong> {{ formation.niveauDifficulte }}</p>
    <p><strong>Mots Clés:</strong> {{ formation.motsCles.join(", ") }}</p>
    <p><strong>Catégories:</strong> {{ formation.categories.join(", ") }}</p>
  
    <h3 class="mt-4">Sessions à venir</h3>
    <ul class="list-group">
      @for (session of sessions; track $index) {
      <li class="list-group-item">
        <p>
          <strong>Formateur(s):</strong>
          {{ session.formateurs.join(", ") }}
        </p>
        <p><strong>Date de début:</strong> {{ session.dateDebut | date }}</p>
        <p><strong>Date de fin:</strong> {{ session.dateFin | date }}</p>
        <button
          class="btn btn-primary"
          (click)="openInscriptionModal(session)"
          [disabled]="session.candidats.length >= 15"
        >
          S'inscrire
        </button>
      </li>
    }
    </ul>
    <button
      class="btn btn-primary mt-4"
      (click)="downloadProgramme(formation.programme)"
    >
      Télécharger le programme PDF
    </button>
  </div>
}
